h4 {
  margin-top: 25px;
}
.row {
  margin: 0 0.3em 20px 0.3em;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  // background-color: #FAFAFA;
  border-radius: 2px;
  color: inherit;
  //border: 0.1em solid #C2C2C2;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}