/* Sticky footer styles
-------------------------------------------------- */

.footer {
  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  color: #CACACA;
  padding: 20px 15px;
  text-align: center;
}