<script type="text/javascript">
  var jsonClientes = {ListadoClientes};
  var jsonBaseDatos = {ListadoBaseDatos};
  var jsonEventos = {ListadoEventos};
</script>
<div class="container">
  <div class="col-xs-12">
    <form class="form-horizontal well" action="" method="post">
      <legend>Formulario configuración reporte</legend>
      <div class="form-group">
        <label for="Cliente" class="col-md-2">Cliente</label>
        <div class="col-md-8">
          <select class="form-control" name="Cliente" id="Cliente">

          </select>
        </div>
        <div class="col-md-2">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default" id="btnCreaCliente" title="Crear">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default" id="btnEditaCliente" title="Editar">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="Informe" class="col-md-2">Informe</label>
        <div class="col-md-8">
          <select class="form-control" name="Informe" id="Informe">

          </select>
        </div>
        <div class="col-md-2">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default" id="btnCreaInforme" title="Crear">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default" id="btnEditaInforme" title="Editar">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button type="button" class="btn btn-default" id="btnEliminaInforme" title="Eliminar">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="btn-group">
          <button type="button" class="btn btn-default" id="btnConfigurarInforme" title="Configurar informe">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
          <button type="button" class="btn btn-default" id="btnAgregarTabla" title="Agregar nivel" style="display: none;">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button type="button" class="btn btn-default" id="btnDuplicaInforme" title="Duplicar informe">
            <span class="glyphicon glyphicon-duplicate"></span>
          </button>
          <button type="button" class="btn btn-default" id="btnProbarInforme" title="Probar informe">
            <span class="glyphicon glyphicon-play"></span>
          </button>
      </div>
    </form>
  </div>
  <div class="col-xs-12">

  </div>
  <div class="col-md-12 EspacioInforme">

  </div>
  <div class="modal fade" id="m-gestion-cliente" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Formulario gestión cliente</h4>
        </div>
        <form class="form-horizontal" id="frmGestionCliente" action="" method="post" autocomplete="off">
          <input type="hidden" name="Hacer" id="HacerCliente" value="">
          <input type="hidden" name="IdCliente" id="IdClienteGC" value="">
          <div class="modal-body">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">INFORMACIÓN BASICA</h3>
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="NombreCliente" class="col-md-3">Nombre cliente</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" name="NombreCliente" id="NombreCliente" required="required">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success" id="btnSubmitCliente"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="m-gestion-informe" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Formulario gestión informe</h4>
        </div>
        <form class="form-horizontal" id="frmGestionInforme" action="" method="post" autocomplete="off">
          <input type="hidden" name="Hacer" id="HacerInforme" value="">
          <input type="hidden" name="IdInforme" id="IdInformeGI" value="">
          <div class="modal-body">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">INFORMACIÓN BASICA</h3>
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="ClienteEnCR" class="col-md-3">Cliente</label>
                    <input type="hidden" class="form-control" id="ClienteEnCR" name="ClienteEnCR">
                    <div id="DivNombreClienteEnCR" class="col-md-9"></div>
                  </div>
                  <div class="form-group">
                    <label for="NombreReporte" class="col-md-3">Nombre informe</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" name="NombreInforme" id="NombreInforme" placeholder="" required="required">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" id="btnSubmitInforme">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="m-errores-informe" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Errores informe a probar</h4>
        </div>
        <div class="modal-body" id="ErroresInforme">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="m-duplicar-informe" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Formulario duplicar informe</h4>
        </div>
        <form class="form-horizontal" action="" method="post" id="frmDuplicarInforme">
          <input type="hidden" name="Hacer" value="duplicar">
          <input type="hidden" name="Duplicando" value="informe">
          <div class="modal-body">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">INFORMACIÓN BASICA DUPLICAR INFORME</h3>
              </div>
                <div class="panel-body">
                <div class="form-group">
                  <label for="IdInformeCopiar" class="col-md-3">Informe a copiar</label>
                  <input type="hidden" class="form-control" name="InformeCopiar" id="IdInformeCopiar" value="">
                  <div class="col-md-9" id="NombreInformeCopiar">

                  </div>
                </div>
                <div class="form-group">
                  <label for="ClientePegar" class="col-md-3">Cliente a pegar</label>
                  <div class="col-md-9">
                    <select class="form-control" name="Cliente" id="ClientePegar" required="required">

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="NombreInformePegar" class="col-md-3">Nombre informe a pegar</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" name="NombreInforme" required="required">
                    <p class="text-info">Este debe corresponder a un nuevo informe para el cliente a pegar.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Duplicar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="m-duplicar-tabla" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Formulario duplicar tabla</h4>
        </div>
        <form class="form-horizontal" action="" method="post" id="frmDuplicarTabla">
          <input type="hidden" name="Hacer" value="duplicar">
          <input type="hidden" name="Duplicando" value="tabla">
          <input type="hidden" class="form-control" name="IdTablaCopiar" id="IdTablaCopiar" value="">
          <div class="modal-body">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">INFORMACIÓN BASICA DUPLICAR TABLA</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="ClientePegar" class="col-md-3">Cliente a pegar</label>
                  <div class="col-md-9">
                    <select class="form-control" name="Cliente" id="ClientePegarDT" required="required">

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="InformePegar" class="col-md-3">Informe a pegar</label>
                  <div class="col-md-9">
                    <select class="form-control" name="InformePegar" id="InformePegar" required="required">

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="NivelPegar" class="col-md-3">Nivel a pegar</label>
                  <div class="col-md-9">
                    <select class="form-control" name="NivelPegar" id="NivelPegar" required="required">

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="IdTablaPadrePegar" class="col-md-3">Tabla padre pegar</label>
                  <div class="col-md-9">
                    <select class="form-control" name="IdTablaPadrePegar" id="IdTablaPadrePegar">

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="CopiarSubNivel" class="col-md-3">Copiar sub niveles</label>
                  <div class="col-md-4">
                    <input type="radio" name="CopiarSubNivel" id="Si" value="Si" checked="checked">
                    <label for="Si">Si</label>
                  </div>
                  <div class="col-md-5">
                    <input type="radio" name="CopiarSubNivel" id="No" value="No">
                    <label for="No">No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Duplicar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="m-gestion-basedatos" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Formulario gestión base de datos</h4>
        </div>
        <form class="form-horizontal" action="" method="post" autocomplete="off" id="frmGestionBaseDatos">
          <input type="hidden" name="Hacer" id="HacerBaseDatos" value="">
          <input type="hidden" name="IdBaseDatos" id="IdBaseDatosGBD" value="">
          <input type="hidden" name="IdTabla" class="IdTabla" value="">
          <div class="modal-body">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">INFORMACIÓN BASICA</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="Nombre" class="col-md-3">Nombre (*)</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Host" class="col-md-3">Host (*)</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="Host" name="Host" placeholder="" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Usuario" class="col-md-3">Usuario (*)</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="Usuario" name="Usuario" placeholder="" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Clave" class="col-md-3">Contraseña (*)</label>
                  <div class="col-md-9">
                    <input type="password" class="form-control" id="Clave" name="Clave" placeholder="" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="DB" class="col-md-3">Base de datos (*)</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="DB" name="DB" placeholder="" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Esquema" class="col-md-3">Esquema</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="Esquema" name="Esquema" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Esquema" class="col-md-3">Driver (*)</label>
                  <div class="col-md-9">
                    <select class="form-control" name="Driver" id="Driver" required>
                      <option value="pgsql">PgSQL</option>
                      <option value="mysql">MySQL</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Puerto" class="col-md-3">Puerto</label>
                  <div class="col-md-9">
                    <input type="number" class="form-control" id="Puerto" name="Puerto" placeholder="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" id="btnSubmitBaseDatos"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="m-probar-query" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Formulario prueba consulta</h4>
        </div>
        <form class="form-horizontal" id="frmProbarQuery" autocomplete="off" method="post">
          <div class="modal-body CamposPruebaQuery">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Probar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="m-error" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Ocurrio un error en el programa</h4>
        </div>
        <div class="modal-body">
          <div class="alert-danger" id="MensajeError">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
