<script type="text/javascript">
  var jsonDatosInforme = {DatosInforme};
  var jsonVariables = {Variables};
</script>
<div class="container">
  <div class="col-xs-12">
    <form class="form-horizontal" id="frmNivel0" method="post" action="../../{RutaReporteador}/ajax/generador-reporte/">

    </form>
  </div>
  <div class="col-xs-12" id="Nivel1">

  </div>
</div>
