<!-- Fixed navbar -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="../img/logo.jpg" class="img-rounded" height="46px" /></a>
    </div>
  </div>
</nav>
